PORT=
DATABASE_URL="postgresql://username:password@localhost:5432/postgres?schema=public"

# https://www.prisma.io/docs/getting-started/setup-prisma/start-from-scratch/relational-databases/connect-your-database-typescript-postgresql