PORT=
DATABASE_URL="postgresql://username:password@localhost:5432/postgres?schema=public"
MAIL_USER=
MAIL_PASSWORD=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

JWT_SECRET=

# https://www.prisma.io/docs/getting-started/setup-prisma/start-from-scratch/relational-databases/connect-your-database-typescript-postgresql